<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Django App
    {% endblock %}
  </title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>

  <nav>

    <a href="/">
      <span role="img" aria-label="Home">🏠</span>
    </a> |
    <a href="/about">❓</a> |
    <!-- ten zapis bedzie dobry jesli w views nadasz atrybut name dla url'a -->
     <!-- dodatkowo mozesz uczynic url bardziej specyficznym patrz urls.py linia 5 -->
    <a href="{% url 'posts:list' %}">📑</a> |
    <a href="{% url 'users:register' %}">🚀</a> |
    <a href="{% url 'users:login' %}">
      <span role="img" aria-label="Login" title="Login">🔐</span>
    </a> 
    <!-- <a href="/posts">Posts</a> | -->
  </nav>

  <main>

    {% block content %}

    {% endblock %}
  </main>
  
</body>
</html>